ion-card{
   height: 250px;
   width: 200px;
}

.pic-avatar {
   width: 50px;
   height: 50px;
   background-image: url('https://as1.ftcdn.net/v2/jpg/06/09/60/26/1000_F_609602633_yNEq66gS87ppzBj36BiahaXnyyOYc7Sx.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 50%; 
 }
 